<div class="todos-wrapper">
  <div class="container">

    <div class="todo-item completed">
      <div class="check-box">
        <i class="material-icons-outlined">check</i>
      </div>
      <p class="todo-text">Lorem ipsum  eaque voluptas sit!</p>
    </div>

    <div class="todo-item">
        <div class="check-box">
          <i class="material-icons-outlined">check</i>
        </div>
        <p class="todo-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi doloremque doloribus quaerat laboriosam deserunt, ad ullam ea, alias, impedit molestiae obcaecati perspiciatis maiores porro at maxime veniam animi ducimus adipisci!</p>
    </div>
  
  </div>
</div>
